<h2> Form Array </h2>

<div class="form-group">

  <form [formGroup]="signUpForm">

    <div class="form-group">
      <label> First Name </label>
      <input type="text"
             placeholder="First Name"
             name="FirstName"
             formControlName="firstName"
      >
    </div>

    <div class="form-group">
      <label> Last Name </label>
      <input type="text"
             placeholder="Last Name"
             name="LastName"
             formControlName="lastName"
      >
    </div>

    <div formArrayName="contacts">
      <div *ngFor="let contact of contacts.controls; let i = index"
           [formGroupName]="i"
      >
       <!-- <div>
          contact {{i + 1}}
        </div> -->

        <div class="form-group">
          <label> Email Address </label>
          <input type="email"
                 placeholder="Email Address"
                 name="emailAddress"
                 formControlName="emailAddress"
          >
        </div>


        <div class="form-group">
          <label> Cellphone Number </label>
          <input type="tel"
                 placeholder="Cellphone Number"
                 name="cellphoneNumber"
                 formControlName="cellphoneNumber"
          >
        </div>
      </div>
    </div>


    <div class="form-group">
      <label> Gender </label>
      <select
        name="gender"
        formControlName="gender"
      >
        <option value="Female"> Female </option>
        <option value="Male"> Male </option>
      </select>
    </div>


    <div class="form-group">
      <label> Password </label>
      <input type="password"
             placeholder="Password"
             name="password"
             formControlName="password"
      >
    </div>
  </form>

</div>
